<h1>My Backpacks</h1>
<ol>
    {{#each backpacks}}
    <li>
        <h1><a href="/backpacks/{{this.id}}">Backpack {{@index}}</a></h1>
        <h3>Color: {{this.backpack_color}}</h3>
    </li>
    {{/each}}
</ol>



