<h1>{{user.first_name}}'s Backpacks</h1>
  <div>
  {{#each user.backpacks}}
    <div>Backpack Name: {{this.backpack_name}}</div>
    <div>Backpack Color:{{this.backpack_color}}</div>
  {{/each}}
  </div>

<a href="/backpacks/new" class="btn btn-default">Build a New Backpack</a>

