<h1>Create a New Backpack</h1>

<div class="row">
    <form action="/users/{{userId}}/backpacks" method="POST" class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="first_name">Backpack Name:</label>
            <input type="text" name="backpack_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="pencils">Pencils:</label>
            <input type="number" name="pencils" class="form-control">
        </div>
         <div class="form-group">
            <label for="folders">Folders:</label>
            <input type="number" name="folders" class="form-control">
        </div>
         <div class="form-group">
            <label for="notebooks">Notebooks:</label>
            <input type="number" name="notebooks" class="form-control">
        </div>
         <div class="form-group">
            <label for="scissors">Scissors:</label>
            <input type="number" name="scissors" class="form-control">
        </div>
         <div class="form-group">
            <label for="erasers">Erasers:</label>
            <input type="number" name="erasers" class="form-control">
        </div>
         <div class="form-group">
            <label for="colored_pencils">Colored Pencils:</label>
            <input type="number" name="colored_pencils" class="form-control">
        </div>
         <div class="form-group">
            <label for="markers">Markers:</label>
            <input type="number" name="markers" class="form-control">
        </div>
         <div class="form-group">
            <label for="glue_sticks">Glue Sticks:</label>
            <input type="number" name="glue_sticks" class="form-control">
        </div>
        <div class="form-group">
            <label for="backpack_color">Backpack Color:</label>
            <input type="text" name="backpack_color" class="form-control">
        </div>
        <div class="form-group">
            <label for="recipient_note">Recipient Note:</label>
            <input type="text" name="recipient_note" class="form-control">
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>

<a href="/authors" class="btn btn-default">Main Page</a>
