<div class='homepage-container'>
<div class="jumbotron">
  <div class='jumbotron-contents'>
   <span class='jumbotron-headline'>Fill backpacks for students in need, with just a few clicks.</span>
  </div>
  <a class="btn btn-primary btn-lg" href="/org" role="button">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/sessions/login" role="button">Log In</a>
</div>

<div class='screen-section'>
  <div class='screen-text'>
  <h2>Backpack drives designed for a digital world.</h2>
  <p>Organizations can view all of their members' backpacks and supplies and see the total number of backpacks pledged, all in one place.</p>
  </div>
  <div class='computer-image'>
  </div>
</div>

<div class='copy-section'>
  <div class='promo-image'>
  </div>
  <div class='promo-text'>
  <h2>More than 16 million families can't afford school supplies.</h2>
  <p>Build a Backpack makes it easy to run a backpack drive, so that you can make an even greater impact on students' lives.</p>
  </div>
</div>

<div class='bottom-section'>
  Impact students' lives by starting a backpack drive today.
  <span class='bottom-btn'><a class="btn btn-primary btn-lg" href="/org" role="button">Sign Up</a></span>
</div>


</div>


