<div class="jumbotron">
  <div class='jumbotron-headline'>Fill backpacks for students who need them, with just a few clicks.</div>
  <p><a class="btn btn-primary btn-lg" href="/org" role="button">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/sessions/login" role="button">Log In</a></p>
</div>


