/* Global styles */

.main-container {
  padding: 50px;
  margin: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body {
  margin-top: 30px;
  font-family: 'Karla', sans-serif;
}

a {
  color: #00B7FF;
}

.top-nav {
  background: white;
  display: flex;
  align-items: center;
}

.logo {
  width: 300px;
  height: 60px;
  flex-direction: row;
}

.nav-links {
  flex-direction: row;
}

/* Split lander */

.signup-lander-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 4px solid #ffedcc;
  padding-bottom: 10px;
}

.signup-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.signup-option {
  width: 50%;
  padding: 20px;
  margin: 20px;
  border: 3px solid #D3D3D3;
  height: 175px;
}

.signup-option:hover {
  background: #f6f6f6;
}

.i-want-to {
  background: #ffedcc;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bolder;
}

.dropdown-container {
  position: relative;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.select-org-button {
  background-color: #A6D785;
  border: none;
  color: black;
}

.select-org-button:hover {
  background-color: #BCED91;
  color: black;
}

.start-drive-btn {
  background-color: #A6D785;
  color: black;
}

.start-drive-btn:hover {
  background-color: #BCED91;
}

/* Org show page / user signup */

.org-id-field {
  visibility: hidden;
  font-size: 2px;
}

.org-name-header {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: gray;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
}

.submit-btn {
  background: #A6D785;
  border-style: solid;
  border: 2px solid white;
  padding: 5px;
  border: 1px solid gray;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #BCED91;
}

.create-acct-header {
  font-size: 17px;
}

form {
  font-size: 15px;
  margin-top: 10px;
}

input {
  margin: 6px;
}

.org-intro {
  background: #f6f6f6;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.org-name {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.org-description {
  background: #e0fde0;
  width: 40%;
  padding: 3px;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 4px;
}

/* Create new drive signup */

.create-header {
  font-size: 20px;
}


/* Backpack create page */

.backpack {
  text-align: center;
  padding: 0 10px 0 10px;

}

.order-summary {
  background: #ffedcc;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
}

.backpack #backpack-image {
  height: 400px;
  width: 300px;
  background-image: url('/images/blue-sm.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 20px;
}

.indiv-item {
  height: 90px;
  width: 150px;
  background: pink;
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  border: 2px solid gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

table {
   margin: auto;
   font-size: 12px;
   text-transform:capitalize;
}

td {
  padding: 0 5px 0 5px;
}


.intro {
  margin: 10px 150px 20px 30px;
}


.items-1 h4 {
  margin-bottom: 20px;
}

.items-1 {
  padding-left: 35px;
}

#pencils {
  background: url(https://s-media-cache-ak0.pinimg.com/originals/1c/db/20/1cdb20f9359f3116059fd46575f27580.jpg);
  background-size: contain;
}

#eraser {
  background: url(http://ghk.h-cdn.co/assets/15/48/980x490/gallery-1448402020-pink-eraser-index.jpg);
  background-size: cover;
}

#folders {
  background: url(https://s-media-cache-ak0.pinimg.com/736x/ea/2f/5e/ea2f5eb379513efa74b90eac81696e29.jpg);
  background-size: cover;
}

#colored-pencils {
  background: url(http://images4.fanpop.com/image/photos/22100000/Colored-pencils-pencils-22186520-2560-1702.jpg);
  background-size: cover;
}

#notebooks {
  background: url(https://cdn.pixabay.com/photo/2015/10/16/21/32/notebooks-991860_960_720.jpg);
  background-size: contain;
}

#markers {
  background: url(http://2.bp.blogspot.com/-Eavddsvqvd8/VYXmb4asPHI/AAAAAAAAu8U/EnDFJrxUCyQ/s1600/markers.jpg);
  background-size: cover;
}

#scissors {
  background: url(https://ae01.alicdn.com/kf/HTB1ORwULVXXXXXkXXXXq6xXFXXXC/6pcs-per-font-b-set-b-font-DIY-Craft-font-b-Scissors-b-font-Wave-Edge.jpg);
  background-size: cover;
}

#glue-sticks {
  background: url(https://cdn.instructables.com/FRP/PA1E/IOEK9PX5/FRPPA1EIOEK9PX5.LARGE.jpg);
  background-size: cover;
}

#gel-pens {
  background: url(https://cdn.shopify.com/s/files/1/1183/7000/products/P2229-2.jpeg?v=1457389002);
  background-size: cover;
}

#binder {
  background: url(https://www.autostraddle.com/wp-content/uploads/2015/08/binders.jpg);
  background-size: cover;
}

.input-sm {
  width: 60%;
  text-align:center;
  margin: auto;
}

.btn-xs {
  margin: auto;
  background: #A1F5A3;
  color: black;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}


.intro-text {
  background: #F0F0F0;
  margin: 10px;
  padding: 10px;
}

.indiv-item .input-sm {
  color: black;
}

.item-name {
  background: #FFC099;
  padding: 0 3px 0 3px;
}

.input-group {
  margin-top: 10px;
}

.row {
  margin-left: 8px;
}

.hidden-field {
  width: 100px;
  margin: 0 auto;
  visibility: hidden;
}

.back-to-list {
  float: left;
}

.back-to-list-button {
  height: 25px;
  font-size: 8px;
}

.total-cost-section {
  background: #e0fde0;
  padding: 4px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Admin dashboard */
.table td, th {
  width: 3%;
  text-align: center;
}

.list-of-donors {
  width: 50%;
  border: 5px solid #A6D785;
  font-size: 15px;
}

.email-address{
  text-transform: lowercase;
}


.org-name-dashboard {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: gray;
  margin-bottom: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}

.backpack-drive-title {
  font-size: 30px;
}

.pledge-list {
  margin-top: 30px;
  margin-bottom: 15px;
}

.invite-section {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.section-header {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

.backpack-summary-table {
  margin: 25px;
}


/* Backpack index page */
.build-new-backpack-btn {
  width: 175px;
  border: 2px solid white;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 10px;
}

.backpack-section-header {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 25px;
  background: #ffedcc;
  padding: 10px;
}

.backpack-card {
  margin: 15px;
  padding: 10px;
  width: 350px;
  height: 350px;
  flex-direction: column;
  border: 4px solid #A6D785;
  font-size: 18px;
}

.card-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
