<h1>Org index page</h1>

  <div>
  {{#each orgs}}
    <div><a href="/org/{{this.id}}">{{this.org_name}}</a></div>
  {{/each}}
    </div>


<a href="/org/new"><button>Start a Backpack Drive</button></a>
