<div class='signup-lander-container'>
  <div class='org-intro'>
    <div class='create-header'>Create a New Backpack Drive</div>
  </div>
  <div class='org-description'>
    First, register your organization. Then, create a Drive Manager account to manage your organization's backpack drive.
  </div>

  <form action="/org" method="post">
    <div>
      <label for="org_name">Organization Name</label>
      <input type="text" name="org_name" required>
    </div>

    <div>
      <label for="org_type">Type of Organization</label>
      <input type="text" name="org_type" required>
    </div>

    <div>
      <label for="location">Location</label>
      <input type="text" name="location" required>
    </div>

    <div>
      <label for="description">Description</label>
      <input type="text" name="description">
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
